{% extends "base.html" %}

{% block title %}
John's Forum - Sign Up
{% endblock title %}

{% block content %}
<h3>Sign up for John's Forum</h3>


<form method="post">
    <input type="text" name="username" placeholder="Enter Your Username">
    <br>
    <input type="email" name="email" placeholder="Enter your Email">
    <br>
    <input type="password" name="password" placeholder="Enter your password">
    <br>
    <input type="password" name="repeatpass" placeholder="Repeat the password">
    <br>

    <button type="submit">Sign Up!</button>

</form>
{% endblock content %}